[submodule "intpath/sale_order_payment_status"]
	path = intpath/sale_order_payment_status
	url = git@github.com:intpath/sale_order_payment_status.git
	branch = 15.0

[submodule "Integrated-Path/sequenced_approval"]
	path = Integrated-Path/sequenced_approval
	url = git@github.com:Integrated-Path/sequenced_approval.git
	branch = 15-masar

[submodule "Integrated-Path/approval_editable_description"]
	path = Integrated-Path/approval_editable_description
	url = git@github.com:Integrated-Path/approval_editable_description.git
	branch = 15-masar

[submodule "Integrated-Path/approval_printed"]
	path = Integrated-Path/approval_printed
	url = git@github.com:Integrated-Path/approval_printed.git
	branch = 15-masar

[submodule "Integrated-Path/documents_legal_fields"]
	path = Integrated-Path/documents_legal_fields
	url = git@github.com:Integrated-Path/documents_legal_fields.git
	branch = master

[submodule "Integrated-Path/approval_request_restriction"]
	path = Integrated-Path/approval_request_restriction
	url = git@github.com:Integrated-Path/approval_request_restriction.git
	branch = 15/masar
